# Changes here will be overwritten by Copier
_commit: {{ _copier_conf.vcs_ref_hash }}
_src_path: {{ _copier_conf.src_path }}
author_email: {{ author_email }}
author_name: {{ author_name }}
author_username: {{ author_username }}
copyright_date: '{{ copyright_date }}'
development_branch: {{ development_branch }}
include_ci: {{ include_ci }}
lua_version: '{{ lua_version }}'
{% if project_type == 'nvim-plugin' -%}
plugin_slug: {{ plugin_slug }}
{% endif -%}
project_description: {{ project_description | tojson }}
project_name: {{ project_name }}
project_type: {{ project_type }}
repository_namespace: {{ repository_namespace }}
repository_provider: {{ repository_provider }}
repository_url: {{ repository_url }}
test_os_matrix: {{ test_os_matrix }}
use_cz: {{ use_cz }}
