{% if project_type == 'nvim-config' -%}
-- Placeholder for lua module organization
-- Create subdirectories like:
--   lua/config/options.lua
--   lua/config/keymaps.lua
--   lua/config/autocmds.lua
--   lua/config/plugins.lua
{% endif -%}
