{% if project_type == 'nvim-plugin' -%}
-- Minimal init.lua for testing {{ project_name }}

-- Add current directory to package path
vim.cmd([[set runtimepath=$VIMRUNTIME]])
vim.cmd([[set packpath=/tmp/{{ project_name }}/site]])

-- Add mini.nvim to runtimepath
local mini_path = vim.fn.stdpath("config") .. "/deps/mini.nvim"
if vim.fn.isdirectory(mini_path) == 0 then
    mini_path = vim.fn.getcwd() .. "/deps/mini.nvim"
end
vim.opt.runtimepath:append(mini_path)

-- Add plugin to runtimepath
vim.opt.runtimepath:append(vim.fn.getcwd())

-- Setup mini.test
require("mini.test").setup()
{% endif -%}
